body {
    background-color: blueviolet;
}

.main-box {
    position: relative;
    width: 1020px;
    height: 600px;
    margin: 0 auto;
    margin-top: 30px;

    background-image: url("img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}


.text-container {
    width: max-content;
    display: flex;

    position: absolute;
    background: rgba(117, 190, 111, 0.7);
    padding: 0;
    margin: 0;
    z-index: 0;

}

.text-container:hover {
    cursor: move;
}

.close-button {
    border: none;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}